#blog{
	margin: 10px 450px;
	border: 1px solid #2F2E2E;
	background: #D7D5D5;
	width:180px;
	height: 500px;
	border-radius: 15px;
	
	line-height: 50px;
}

#an{
	text-decoration: none;
	color: #2FC1ED;
	cursor: pointer;
	border:0px solid;
	width: 10px;
	height: 10px;
}

