#blog{
	margin-left: 450px ;
	width:200px;
	height: auto;
	border: 1px solid#9B9797;
	

}
#div1{
	
	border: 0px solid ;
	width: 199px;
	height: 30px;
	background: #C5C3C3;
	line-height: 30px;
}
#sanjiao{
	margin-left: 170px;
	margin-top: -25px;
	width: 0px;
	height: 0px;
	border-top:10px solid transparent;
	border-bottom: 10px solid #616060;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	cursor: pointer;
}
#sanjiaio.hove{
	border-top:10px solid #616060;
	border-bottom: 10px solid transparent;
}
#div2{
	width: 199px;
	height: auto;
	border: 1px solid #585555;
	line-height: 24px;
	background:#E0DEDE;
	display: none;
}
a{
	color: #090909;
	text-decoration: none;
}
a:hover{
	
	text-decoration:underline;
	
}
