.numbr {
			list-style: none;
			display: inline-block;
			width:11%;
			border: 1px solid #CC4B4B;
			height: 20%;
		}
		.svg{
			width:100%;
			height: 100%;

		}
		.search{
			width:20%;
			height: 50px;
			border-radius: 5px;
		}
		.back{
	background: #F6F411;
}


.show{
			width:70vw;
			margin:0 auto;
			height: 50vh;
			
			position: relative;
			/*color: #FFFFFF;*/
			font-weight: 800;
			/*white-space: pre-wrap;*/
		}
		.number{
			border-top:1px solid #0C0C0C;
			width: 100%;
			height: 10%;
			/*background-color:rgb(8, 8, 8);*/
			position: absolute;
			bottom: 15%;

		}
		.number li{
			float: left;
		}
		.num{
			list-style: none;
			display: inline-block;
			width: 11%;
			border: 1px solid #FFFFFF;
			border-top: 0px;
			text-align: center;
			height: 100%;
			border-bottom-right-radius:2em;
			border-bottom-left-radius:2em;
			box-shadow: 0 0 0 #585656,
			0 0 0 #585656,
			0px 5px 2px #585656,
			0 0 0 #585656;

			background:rgb(8, 8, 8);
		}
		.result{
			width: 100%;
			height: 13%;
			position: absolute;
			/*background-color: #030202;*/
			bottom: 0;
			/*padding-left: 5%;*/
			float: left;
			padding-top: 5%;
		}
		.block{
			width:10%;
			height: 60%;
			background:rgb(8, 8, 8);
			text-align: center;
			line-height: 2em;
			float: left;
			margin-left:1%; 
			display: none;
		}
		#tip{
			float: left;
			width:10%;
			line-height: 3em;
			font-size: 1em;
			font-weight: 800;
			text-align: center;
			height: 50%;
			position: absolute;
			right: 0;
			/*background-color:#EA0909;*/
			color:rgb(8, 8, 8);
			/*font-weight: 400;*/

		}
		#tip span{
			color:red;
		}
		.showexe{
			width: 100%;
			height: 100%;
			position: relative;
			/*background-color: #69E51C*/
		}
		.blockend{
			width:9%;
			height: 9%;
			background:#060606;
			text-align: center;
			line-height: 2em;
			position: absolute;
			border:3px solid #FFFFFF;
			/*bottom: 0;*/
			
			/*margin-left:1%; */
			/*display: none;*/
		}
		input[type=range] {  
  -webkit-appearance: none;/*清除系统默认样式*/  
  width: 100%;  
  background: -webkit-linear-gradient(#61bd12, #61bd12) no-repeat, #ddd;/*设置左边颜色为#61bd12，右边颜色为#ddd*/  
  background-size: 75% 100%;/*设置左右宽度比例*/  
  height: 3px;/*横条的高度*/  
}  