html,body{
	margin:0;
	padding: 0;
}
*{
	box-sizing: border-box;
}

.header{
	background: #0F1014;
	height: 6em;
	padding: 1% 0 0 30%;


}
#logo{
	position: absolute;
	border: 0px solid red;
	width:25%;
	height: 90%;
	color: #FFF;
	top:5%;
	left:5%;
	padding:0em;
	font-size:3em;
}
#listone{
	margin-top: 0em;
	margin-left: 2em;
}
#listone li{
	margin-left: 2em;
}
#listone li:hover{
	background: #0F1014;

}
#search{
	position: absolute;
	border: 0px solid red;
	width: 20%;
	height: 100%;
	top:5%;
	right: 18%;
	padding:1.5em 0 0 4em;
	z-index: 2;
		
}

#login{
	position: absolute;
	border: 0px solid red;
	width: 15%;
	height: 100%;
	top:5%;
	right: 2%;
	color: #B3B2B2;
	font-size: 1.1em;
	padding: 2em 0 0 2em;

	
	/*display: none;*/
}
a{
	color: #FFF;
}
.hand{
	cursor:pointer;
	color: #AAA7A7;
}
.hand:hover{
	color:#6E6E6E;
}
.listtwo{
	border:0px solid blue;
	position: fixed;
	width:100%;
	height:auto; 
	top:0px;
	color: #A7DE59;
	background: #0F1014;
	z-index: 100;
	padding-top: 10em;
	display: none;
	/*opacity: 0.5;*/
}

#small{
	display: block;
}

#powerpoint{
	clear: both;
	border: 0px solid #F00808;
	border-top: #0D0D0D;
	width: 100%;
	height: 60%;
	z-index: 1;
	/*margin-top: -2%;*/	
}
/*为了和bootstrap 中的content区分*/
.contentm{
	position: absolute;
	border: 0px solid red;
	background:#ECE9E9;
	width: 60%;
	height:9.5em;
	margin-left: 20%;
	margin-top: -9.5%;
	z-index: 100;
	box-shadow:  
	10px 0 0 #CECBCB,
	-10px 0 0#CECBCB;
	/*background: url(../img/2061.jpg);
	background-size: 100% 100%;*/
	padding: 4em 2em 0 3em;
	opacity: 0.7;
}
.content_font{
	color:#171515;font-size:3em
}
.content_show{
	border: 0px solid red;
	border-bottom: 1px solid #CD9A9A;
	width: 100%;
	height: auto;
	background: #E3E1E1;
}
.boxx{
	overflow: hidden;
}
.box{
	border: 0px solid red;
	 margin: 8em 0 0 2em;
	 background: #E3E1E1;
	 height: auto;
	 padding:1em!important;
	 width:80%;
	 box-shadow: -10px 0 0 #FFFFFF,
	 0 10px 0#FFFFFF,
	 10px 0 0#FFFFFF,
	 0 -10px 0 #FFFFFF;
	 /*overflow: hidden;*/
}
.box-two{
	border: 0px solid red;
	 margin: 2em 0 0 2em;
	 background: #E3E1E1;
	 height: auto;
	 padding:1em!important;
	 width:80%;
	 box-shadow: -10px 0 0 #FFFFFF,
	 0 10px 0#FFFFFF,
	 10px 0 0#FFFFFF,
	 0 -10px 0 #FFFFFF;
	  /*overflow: hidden;*/
}

	.pic{
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	.pic:hover{
		transform: scale(1.1);
	}
	.pic-information{
		border: 0px solid red;
	 	margin: 2em 0 0 2em;
	 	width: 80%;
	 	height: 5em;
		}
	.pic-font{
		color: #606060;
	 	font-size: 2em;
	 	font-weight: 800;

	}
	/*.pic:hover{
		transform: scale(1.1,1.1);
	}*/


/*img:hover{
	background-size: 120% 100%;
}*/
	.pointpic{
		width: 100%;
		height: 45em;
		display: block;
	}
	.pichidden{
		display: none;
	}
	.last-box{
		display: block;
	}
	.two-box{
		margin-top:35%;
	}
	
	.end{

		border: 0px solid red;
		width: 100%;
		height:250px;
		padding-left: 2em;
		margin-top: -1em;
		line-height: 3em;
		color: #FFFFFF;
		  /*font-family:"微软雅黑";*/
		font-size: 1.5em;
		background: #0F1014;
		

	}
	
 .next{
	margin-left:38%;
	margin-top: -4em;
 }

@media(max-width:767px){
	#listone{
		display: none;
		background-color:  #0F1014;
		position:fixed;
		width:105%;
		margin-left: -35%;
		opacity: 0.95;
		color:#EEEDED;
	}
	 .next{
	margin-left:20%;
	margin-top: -4em;
 }
 .sphone{
 	display: none;
 }
	

	
	#search{
		width:100%;
		top:100%;
		height: auto;
		padding:0;
		
	}
	#login{
		width:18%;
		top:100%;
		height: auto;
		right: 0%;
		padding:0em;
		background: #FF9B22;
			
	}
	.hand{
		font-size: 1.5em;
		color: #575656;
		
	}
	#small{
		display: none;
	}
	.pointpic{
		width: 100%;
		height: 25em;
	}
	.content_font{
		color:#171515;font-size:1.5em
	}
	.contentm{
		height: 6em;
		margin: 0;
		padding-top: 2em;
		padding-left: 30%;
		width: 100%;
		

	}
	.content_show{
	margin-top:25%;
	}
	.box{
		margin:2em 0 0 2em;
	}
	.two-box{
		margin-top: -23%;
	}
	.pic-information{
		margin:1em 0 0 3em ;
	}
	.last-box{
		display: block;
		margin-top:-21% ;
	}
	.pic-font{
		color: #7A7878;
	 	font-size: 1.5em;
	 	font-weight: 800;
	}


	
}
@media(max-width: 992px) and (min-width: 768px){
	/*#listone{
		display: none;
	}*/
	#search{
		width:100%;
		top:100%;
		height: auto;
		padding:0;
	}
	#login{
		width:18%;
		top:100%;
		height: auto;
		right: 0%;
		padding:0em;
		background: #FF9B22;
			
	}
	 .sphone{
 	display: none;
 }
	.hand{
		font-size: 1.5em;
		color: #575656;
		
	}
	.pointpic{
		width: 100%;
		height: 35em;
	}
	.last-box{
		display: block;
		margin-top:-101% ;
	}
}
@media(min-width: 993px) and (max-width: 1025px){
	#listone{
		margin-left: -3em;
	}
}

