@charset "utf-8";
/* CSS Document */

/* DESIGN TOPNAV (mainmenu) */
#nav1 {  margin-top:40px; amargin:0; padding:0; float:right; height:30px; font-size:12px; line-height:16px; width:auto; text-transform:none; }
#nav1 img { float:right; margin:5px 0 10px 0; padding:0;}
/* level 0 */
#nav1 ul.menusm { padding:10px 0 0 0; float:left; }
#nav1 ul li.ms_top { padding:0 10px; float:left; }
#nav1 ul li a.ms_top { display:block; height:16px; margin:0; padding:0; color:#666666; text-decoration:none; text-transform:uppercase; font-weight: bold;}
#nav1 ul li.current_page_item a.ms_top, #nav1 ul li a.ms_top.ms_hover { position:relative; color:#66CCFF; text-decoration: none; border-bottom:1px dashed #66CCFF; background:none; }
/* home_img */
#nav1 ul li.home_img a:hover { text-decoration:none; border-bottom:none;}
#nav1 ul li.home_img { background:url(images12/menu_botton_1.png) no-repeat; padding:0; margin:2px 0; height:21px; widows:21px;}
#nav1 ul li.home_img:hover { background:url(images12/menu_botton_1_2.png) no-repeat; border-bottom:none;}
/* view */
#nav1 ul li.view {  padding:4px 0 5px 15px;}
#nav1 ul li.view:hover { text-decoration: none; border-bottom:none;}
/* Categ */
#nav1 ul li.Categ { background: url(images12/menu_botton_2_2.png) right top no-repeat; padding:4px 30px 20px 30px;}
#nav1 ul li.Categ:hover { background: url(images12/menu_botton_2.png) right top no-repeat;}
/* Member */
#nav1 ul li.Member {  padding:4px 0 5px 20px;}
/* level 1 */
#nav1 ul li ul { margin:0; padding:0; top:30px; left:20px; font-size:12px; background:#454545; border:1px solid #3c3c3c; text-transform:none; }
#nav1 ul li.Contact ul { left:auto; right:0;}
#nav1 ul li ul li { border-top:1px solid #4e4e4e; border-bottom:1px solid #373737; }
#nav1 ul li ul li a { display:block; margin:0; border:0; padding:9px 20px; width:152px; background:url(images12/ul_Li_nav_1.png) 8px 14px no-repeat; color:#fff; font-weight: normal; }
#nav1 ul li ul li.ms_last a { border:0; }
#nav1 ul li ul li a.ms_hover { background:#fff url(images12/ul_Li_nav_2.png) 8px 14px no-repeat; color:#2c2c2c; text-decoration:none; }
#nav1 ul li ul li ul { top:-1px; left:120px; }

/* DESIGN TOPNAV 2 */
#nav2 { margin:0; padding:0px 0px 0px 0px;  height:2px; font-size:13px; line-height:6px; width:auto; text-transform:none;}
/* level 0 */
#nav2 ul{ padding:9px 0; float:left; background:url(images12/menu_slice.png) no-repeat left center; }
#nav2 ul li { padding:0px 3px 0px 3px; float:left; background:url(images12/menu_slice.png) no-repeat right center; }
#nav2 ul li.first { padding:0px 13px;}
#nav2 ul li a { display:block; height:16px; line-height:16px; margin:0; padding:4px 10px; color:#cccccc; text-decoration:none; text-transform: none; font-weight: bold;}
#nav2 ul li a:hover,
#nav2 ul li a.active { background:#404040; padding:4px 10px; -moz-border-radius:10px; border-radius:10px; -webkit-border-radius:10px; }

/* DESIGN TOPNAV 3 */
#nav3 { margin:0; padding:0; height:51px; font-size:11px; line-height:13px; width:auto; text-transform: uppercase; }
/* level 0 */
#nav3 ul{ padding:19px 0; float:left; }
#nav3 ul li { padding:0 5px; float:left; border-left:1px solid #898989; }
#nav3 ul li.first { padding:0 5px 0 0; border-left:none;}
#nav3 ul li.last { padding:0 5px 0 0;}
#nav3 ul li a { display:block; margin:0; padding:0 5px; color:#898989; text-decoration:none;  font-weight: bold;}
#nav3 ul li a:hover { color:#2bafea; }
#nav3 ul li a.active { color:#2bafea; }

/* navigation */
.navigation p.maincats { font-family: Arial; font-size:12px; text-transform:none; line-height:143%; }
.navigation { }
.navigation ul { padding:0; margin:0; }
.navigation ul li { padding:5px 0; margin:0;}
.navigation ul li a { color:#686868;}
.navigation ul li a.ns_top { color:#686868; font-weight:bold; text-transform:uppercase; padding:5px 0 5px 30px; background: url(images12/cat_sub_ul_a_hover.png) no-repeat left;}
.navigation ul li a:hover.ns_top { color:#0066CC;}
.navigation ul li.ns_active a.ns_top { color:#0066CC; background: url(images12/cat_sub_ul_a.png) no-repeat left; text-decoration:underline;}
/* level 1 */
.navigation ul { margin:0; padding:3px 2px; font-size:12px; text-transform:none; font-family: Arial; }
.navigation ul ul li { padding:0; margin:1px 0;}
.navigation ul ul li  { display:block; padding:2px 11px; -moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px;}
.navigation ul ul li a:hover { padding:2px 8px; background:#f9f9f9; border:1px solid #e7e7e7;}
.navigation ul ul li.ns_active a { padding:2px 8px; color:#FFF; background:#787878; border:1px solid #3f3f3f;i}

/* DESIGN TABS (right navigation) */
#mstabs { padding:0; }
#mstabs ul.bookmarks { height:40px; margin:0; padding:0; }
#mstabs ul.bookmarks li { margin:0; }
#mstabs ul.bookmarks li a { color:#b2b2b2; margin:5px 0; padding:2px 10px; font-size:12px; font-weight:normal; border-right:2px solid #b2b2b2;}
#mstabs ul.bookmarks li.last a { border:0;}
#mstabs ul.bookmarks li a:hover, #mstabs ul.bookmarks li a.ms_active { color:#31b5e1; }
#mstabs ul.menusm { border-top:none; margin:0; padding:0; font-size:12px; line-height:1.2em; }
#mstabs ul.menusm li { border-bottom:1px solid #e7e7e7; border-top:1px solid #ffffff; margin:0; padding:0; }
#mstabs ul.menusm li a { padding:6px 0; text-decoration:none; color:#868686; padding:5px 0 5px 20px; background:url(images12/menu_raquo.png) no-repeat left;}
#mstabs ul.menusm li a.ms_hover { color:#00a6dd; font-weight:normal; }
#mstabs ul.menusm li ul li { margin:0; padding:0 0 0 8px; border:0; }

#nav1 * { z-index:1003;}
#nav2 * { z-index:1002;}
#nav3 * { z-index:1001;}

/* DO NOT EDIT!!! */
ul.menusm { list-style:none; }
ul.menusm li { cursor:pointer; position:relative; }
ul.menusm li a { position:relative; }
ul.menusm li ul { display:none; position:absolute; list-style:none; height:auto; }
ul.menusm li ul li ul { position:absolute; list-style:none; }
ul.navsm { list-style:none; }
ul.navsm li { cursor:pointer; position:relative; }
ul.navsm li a { position:relative; }
ul.navsm li ul { display:none; position:relative; list-style:none; height:auto; }
ul.navsm li ul li ul { position:relative; list-style:none; }
#mstabs ul.bookmarks { margin:0; padding:0; list-style:none; }
#mstabs ul.bookmarks li { float:left; }
#mstabs ul.bookmarks li a { display:block; text-decoration:none; outline:none; }
#mstabs ul.bookmarks li a.ms_active { }
#mstabs ul.menusm { }
#mstabs ul.menusm li a { display:block; margin:0; }
#mstabs ul.menusm li ul { position:relative; margin:0; padding:0 0 4px; }
